.feynman__link {
    font-size: 36px;
    line-height: 51px;
    margin: 0;
    text-align: center;
    font-weight: 400;
    color: #2f80ed;
    text-decoration: none;
    position: absolute;
    top: 50%;
    right: 48px;
    transition: opacity 0.2s linear;
  }
  
  .feynman__link:hover {
    opacity: 60%;
  }